<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class='isolate bg-white p-6 lg:p-8 mb-24'>
  {% if section.settings.title %}
    <h2 class='my-8 mx-auto max-w-2xl text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'>
      {{ section.settings.title }}
    </h2>
  {% endif %}
  {% form 'contact', class: 'mx-auto max-w-2xl' %}
    {{ form.errors | default_errors }}
    <div class='grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2'>
      <div>
        <label
          for='contact-name'
          class='block text-sm font-semibold leading-6 text-gray-900'
          >Name</label
        >
        <div class='mt-2.5'>
          <input
            type='text'
            name='contact[name]'
            id='contact-name'
            autocomplete='name'
            required
            class='block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'
          >
        </div>
      </div>

      <div>
        <label
          for='contact_email'
          class='block text-sm font-semibold leading-6 text-gray-900'
          >Email</label
        >
        <div class='mt-2.5'>
          <input
            type='email'
            name='contact[email]'
            id='contact_email'
            autocomplete='email'
            required
            class='block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'
          >
        </div>
      </div>
      <div class='sm:col-span-2'>
        <label
          for='contact_message'
          class='block text-sm font-semibold leading-6 text-gray-900'
          >Message</label
        >
        <div class='mt-2.5'>
          <textarea
            name='contact[body]'
            id='contact_message'
            rows='4'
            required
            class='block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'
          ></textarea>
        </div>
      </div>
    </div>
    <div class='mt-10'>
      <button
        type='submit'
        class='block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
      >
        Send Message
      </button>
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
