<!-- Hero section -->
<div class='relative'>
  <!-- Background image and overlap -->
  <div aria-hidden='true' class='absolute inset-0 hidden sm:flex sm:flex-col'>
    <div class='relative w-full flex-1 billboard-gradient'></div>
    <div class='h-32 w-full bg-white md:h-40 lg:h-48'></div>
  </div>

  <div class='relative mx-auto max-w-3xl px-4 pb-96 text-center sm:px-6 sm:pb-0 lg:px-8'>
    <!-- Background image and overlap -->
    <div aria-hidden='true' class='absolute inset-0 flex flex-col sm:hidden'>
      <div class='relative w-full flex-1 billboard-gradient'></div>
      <div class='h-48 w-full bg-white'></div>
    </div>
    <div class='relative py-32'>
      <h1 class='text-4xl font-semibold font-heading tracking-tight text-slate-600 sm:text-5xl md:text-6xl'>
        Stylish and Fun Hats!
      </h1>
      <p class='mt-4 sm:mt-6 text-xl text-slate-600'>
        Our hats are custom-designed and handcrafted to perfection.
      </p>
      <div class='mt-8'>
        <a
          href='{{ routes.all_products_collection_url }}'
          class='inline-block rounded-md border border-transparent bg-slate-600 px-8 py-3 font-medium text-orange-200 hover:bg-slate-700'
          >Shop Now</a
        >
      </div>
    </div>
  </div>

  <section aria-labelledby='collection-heading' class='relative -mt-96 sm:mt-0'>
    <h2 id='collection-heading' class='sr-only'>Collections</h2>
    <div class='mx-auto grid max-w-md grid-cols-1 gap-y-6 px-4 sm:max-w-7xl sm:grid-cols-2 sm:gap-x-6 sm:gap-y-0 sm:px-6 lg:gap-x-8 lg:px-8'>
      {% liquid
        assign collection1 = section.settings.collection1
        assign collection2 = section.settings.collection2
      %}

      {% if collection1 and collection2 %}
        {% render 'hero-collection-card', collection: collection1 %}
        {% render 'hero-collection-card', collection: collection2 %}
      {% else %}
        {% for collection in collections limit: 2 %}
          {% render 'hero-collection-card', collection: collection %}
        {% endfor %}
      {% endif %}
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "collection",
      "id": "collection1",
      "label": "Collection 1"
    },
    {
      "type": "collection",
      "id": "collection2",
      "label": "Collection 2"
    }
  ]
}
{% endschema %}
