<div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
  <div class='rounded-[10px] bg-orange-200/80 mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-16 lg:px-8'>
    <div class='mx-auto'>
      <h2 class='font-heading text-2xl font-semibold capitalize text-slate-700 xl:whitespace-nowrap xl:text-4xl'>
        What are people saying?
      </h2>
    </div>
    <div class='mx-auto mt-8 flow-root sm:mt-12'>
      <div class='-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0]'>
        {% comment %} Testimonial 1 {% endcomment %}
        <div
          class='pt-8 sm:inline-block sm:w-full sm:px-4'
        >
          <figure class='rounded-2xl bg-white p-8 font-body text-sm leading-6'>
            <blockquote class='text-slate-700 xl:text-base'>
              <p>
                My order arrived super quickly. The Blue Fedora is even better
                than I hoped it would be. Very happy customer over here!
              </p>
            </blockquote>
            <figcaption class='mt-6 flex items-baseline justify-between'>
              <div class='flex items-center gap-x-4'>
                <div class='relative h-10 w-10'>
                  <img
                    class='rounded-full bg-white'
                    src='https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                    alt=''
                    width='40'
                    height='40'
                    loading='lazy'
                  >
                </div>
                <div>
                  <div class='font-medium text-slate-700 xl:text-lg'>
                    Leslie Alexander
                  </div>
                  <div class='text-slate-600 xl:text-base'>
                    @lesliealexander
                  </div>
                </div>
              </div>
              {% render 'icon-twitter', class: 'h-7 w-7 text-slate-600' %}
            </figcaption>
          </figure>
        </div>

        {% comment %} Testimonial 2 {% endcomment %}
        <div
          class='pt-8 sm:inline-block sm:w-full sm:px-4'
        >
          <figure class='rounded-2xl bg-white p-8 font-body text-sm leading-6'>
            <blockquote class='text-slate-700 xl:text-base'>
              <p>BW Hats make the best hats!</p>
            </blockquote>
            <figcaption class='mt-6 flex items-baseline justify-between'>
              <div class='flex items-center gap-x-4'>
                <div class='relative h-10 w-10'>
                  <img
                    class='rounded-full bg-white'
                    src='https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                    alt=''
                    width='40'
                    height='40'
                    loading='lazy'
                  >
                </div>
                <div>
                  <div class='font-medium text-slate-700 xl:text-lg'>
                    Lindsay Walton
                  </div>
                  <div class='text-slate-600 xl:text-base'>@lindsaywalton</div>
                </div>
              </div>
              {% render 'icon-facebook', class: 'h-7 w-7 text-slate-600' %}
            </figcaption>
          </figure>
        </div>

        {% comment %} Testimonial 3 {% endcomment %}
        <div
          class='pt-8 sm:inline-block sm:w-full sm:px-4'
        >
          <figure class='rounded-2xl bg-white p-8 font-body text-sm leading-6'>
            <blockquote class='text-slate-700 xl:text-base'>
              <p>
                My son loves the Ice Cream cap because that's his favorite food!
              </p>
            </blockquote>
            <figcaption class='mt-6 flex items-baseline justify-between'>
              <div class='flex items-center gap-x-4'>
                <div class='relative h-10 w-10'>
                  <img
                    class='rounded-full bg-white'
                    src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                    alt=''
                    width='40'
                    height='40'
                    loading='lazy'
                  >
                </div>
                <div>
                  <div class='font-medium text-slate-700 xl:text-lg'>
                    Tom Cook
                  </div>
                  <div class='text-slate-600 xl:text-base'>@tomcook</div>
                </div>
              </div>
              {% render 'icon-instagram', class: 'h-7 w-7 text-slate-600' %}
            </figcaption>
          </figure>
        </div>

        {% comment %} Testimonial 4 {% endcomment %}
        <div
          class='pt-8 sm:inline-block sm:w-full sm:px-4'
        >
          <figure class='rounded-2xl bg-white p-8 font-body text-sm leading-6'>
            <blockquote class='text-slate-700 xl:text-base'>
              <p>
                Peaky Blinders has always been my favorite show on Netflix, and
                now when I walk around with the Peaky Blinder flat cap on, I
                feel 10x more confident in everything I do!
              </p>
            </blockquote>
            <figcaption class='mt-6 flex items-baseline justify-between'>
              <div class='flex items-center gap-x-4'>
                <div class='relative h-10 w-10'>
                  <img
                    class='rounded-full bg-white'
                    src='https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                    alt=''
                    width='40'
                    height='40'
                    loading='lazy'
                  >
                </div>
                <div>
                  <div class='font-medium text-slate-700 xl:text-lg'>
                    Leonard Krasner
                  </div>
                  <div class='text-slate-600 xl:text-base'>@leonardkrasner</div>
                </div>
              </div>
              {% render 'icon-tiktok', class: 'h-7 w-7 text-slate-600' %}
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
