main {
  min-height: 90vh;
}

.collapsible-content-wrapper-narrow {
  padding-inline: 0 !important;
}

.cart__checkout-button {
  margin-top: 1.5rem !important;
}

.no-results-text {
  @media screen and (min-width: 990px) {
    text-align: center;
  }
}

.footer-block__details-content a {
  text-align: center;
  justify-content: center;
}

.collection .title {
  line-height: 2;
}

.title-wrapper-with-link h1 {
  font-size: 3rem;
}

.cart__footer {
  margin-bottom: 8rem !important;
}
